<!DOCTYPE html>
<html>
   <head>
   <meta charset="UTF-8">
   <link rel="stylesheet"; href="static/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
   <!-- CSS only -->
    <Link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <style>
   body {


     height : 100%;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url("/static/bgm3.jpg");
   }

   </style>

      <title>HACK-X-TRONIC</title>


   </head>


   <body background>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#353839;" >
      <a class="navbar-brand" href="{{ url_for('home') }}"><h1><p style="text-align:center;color:white;font-size:20px;font-family: sans"><b>HOME</b></p></h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('about') }}" target="_self"><p style="text-align:center;color:white;font-size:20px;font-family: sans"><b>ABOUT</b></p> <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('status') }}"><p style="text-align:center;color:white;font-size:20px;font-family: sans"><b>STATUS</b></p></a>
          </li>

        </ul>

      </div>
      <p style="text-align: right;color:white;font-size:50px;font-family:fantasy;"><b>*HACK-X-TRONIC*</b></p>
    </nav>

    <br>
    <br>
    <br>
    <br>




    <div class="container">
      <div class="row">
        <div class="col">
          <img src="{{ url_for('video_feed') }}" alt="WEBCAM OUTPUT">
        </div>
        <div class="col">
            <center>
                <h3><strong>**Future work**</strong></h3>
            </center>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><p style="color:black;font-size:30px;font-family:sans"><b>#</b></p></th>
          <th scope="col"><p style="color:black;font-size:30px;font-family:sans"><b>APPLIANCES</b></p> </th>
          <th scope="col"><p style="color:black;font-size:30px;font-family:sans"><b>STATUS</b></p></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><p style="color:maroon;font-size:30px;font-family:sans"><b>1</b></p></th>
          <td><p style="color:#232b2b;font-size:30px;font-family:sans"><b>LIGHT</b></p></td>
          <td><p style="color:maroon;font-size:30px;font-family:sans"><b>STATUS WILL BE VISIBLE HERE</b></p></td>

        </tr>
        <tr>
          <th scope="row"><p style="color:maroon;font-size:30px;font-family:sans"><b>2</b></p></th>
          <td><p style="color:#232b2b;font-size:30px;font-family:sans"><b>FAN </b></p></td>
          <td><p style="color:maroon;font-size:30px;font-family:sans"><b>STATUS WILL BE VISIBLE HERE</b></p> </td>

        </tr>
      </tbody>
    </table>
        </div>
      </div>

    </div>

   </body>
</html>
